body{
    margin: 0;
    padding: 0;
    background: url(../Wwar-lock/Images/eiffel-tower-768501_1920.jpg);
    background-size: cover;
    background-position: center;
    font-family: cursive;
}

.loginbox{
    width: 320px;
    height: 450px;
    background: #2196f3;    
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 35%;  
}

h1{
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: cursive;
}

.loginbox input{
    width: 100%;
    margin-bottom: 30px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid rgb(52, 33, 221);
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #c62828;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #c51238;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(20, 20, 20);
}

.loginbox a:hover
{
    color: #3407ff;
}

::placeholder {
    color: #fff;
    opacity: 0.7;
  }