* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

:root {
    --bgColor: #e9ebee;
    --navBg: #3b5998;
    --colorWhite: #fff;
    --colorBlack: #000;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    background: var(--bgColor);
}

nav#nav {
    width: 100%;
    height: 70px;
    background: var(--navBg);
    line-height: 70px;
    padding: 0 180px;
    display: flex;

}

.left-ul li {
    list-style: none;
}

.left-ul li a {
    color: var(--colorWhite);
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}

.right-ul {
    display: flex;
}

.right-ul li {
    list-style: none;
}

.empty {
    margin: 0 auto;
}

.nav-control {
    height: 33px;
    padding: 0 10px;
    border-radius: 3px;
    border:0px;
    margin-right: 10px;
}

.nav-btn {
    display: inline-block;
    height: 33px;
    padding: 0 10px;
    border-radius: 3px;
    background: var(--colorWhite);
    color: var(--colorBlack);
    border: 0px;
}

.container {
    display: flex;
    padding: 48px 180px;
}

.left-section, .right-section {
    width: 50%;
}

.right-section {
    padding-left: 20px;
}

.left-heading {
    font-size: 20px;
    font-weight: normal;
    line-height: 35px;
}

.image {
    margin-top: 15px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
}

.form-heading {
    font-size: 30px;
    color: #333;
}

.text {
    margin: 10px 0;
    font-weight: normal;
    font-size: 17px;
}

#formSection {
    width: 100%;

}

.form-group {
    margin-bottom: 15px;
}

.control {
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 4px;
    border:1px solid #bdc7d8 ;
    width: 100%;
}

.half {
    width: 48%;
}

.half:nth-child(2){
    margin-left: 2%;
}

.birth {
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

select {
    padding: 5px 10px;
}

#male {
    margin-left: 6px;
}

.someText {
    font-size: 13px;
    width: 80%;
    color: #777;
}

.btn {
    font-size: 19px;
    font-weight: bold;
    min-width: 194px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    margin: 10px 0px;
    padding: 10px 20px;
    background: linear-gradient(#67ae55,#578843);
    border: 0;
    color: var(--colorWhite);
}

@media(max-width: 765px){
    nav#nav {
        flex-direction: column;
        height: auto;
        padding: 0 50px;
    }

    .container {
        flex-direction: column;
        padding: 30px 50px;
    }

    .left-section, .right-section {
        width: 100%;
    }
}