* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #E9EBEE;
    font-family: 'Lucida Grande', tahoma,verdana,arial,sans-serif;
    font-style: normal;
  }
  
  header a {
    color: #b0bcd5;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  .formulaire {
    width: 480px;
    display: flex;
    align-items: flex-end;
  }
  
  .formulaire div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .container {
    margin: 8px 0 0 200px;
    font-size: 12px;
  }
  
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #3B5998;
    color: white;
  }
  
  label {
    font-size: 12px;
    margin-bottom: 4px;
  }
  
  .btn {
    background-color: #516ac1;
    border: solid rgba(0, 0, 0, 0.3) 0.1em;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-size: 13px;
    padding: 5px 6px;
    margin-bottom: -1px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    margin-left: -5px;
    outline: none;
  }
  
  .logo {
    margin-top: 10px;
    width: 174px;
    cursor: pointer;
    color: white;
    font-size: 40px;
      font-weight: bold;
  }
  
  .forgot {
    margin: 2px 0 0 200px;
    color: #6d84b4;
  }
  
  input {
    padding: 3px;
  }
  
  .left {
    margin: 70px 650px 0 200px
  }
  
  .connect {
    color: rgba(0, 0, 0, 0.85);
    font-size: 24px;
    margin-bottom: 100px;
  }
  
  .center_list {
    list-style: none;
    padding-bottom:10px;
    margin-top:20px;
  }
  
  .list {
      float: left;
    margin-top: -40px;
    margin-bottom: 50px;
      padding-bottom:20px;
  }
  
  .img-list {
      display: inline-block;
    vertical-align: middle;
      margin-right: 20px;
  }
  
  .right {
    float: right;
    margin-top: -380px;
    margin-right: 230px;
  }
  
  .inputs {
    margin-top: 25px
  }
  
  .input {
    padding-left: 10px;
    font-size: 19px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid rgba(78, 78, 78, 0.5);
    height: 40px;
  }
  
  .input_1 {
    width: 190px;
  }
  
  .input_2 {
    width: 385px;
  }
  
  select {
    margin-top: 6px;
    padding: 6px;
    margin-left: -6px
  }
  
  .why {
    margin: -30px 0 0 195px;
    font-size: 10px;
    font-family: sans-serif;
  }
  
  .terms {
    font-size: 10px;
    width: 306px;
    margin-top: 10px;
      margin-bottom:30px;
    color: rgba(0, 0, 0, 0.6)
  }
  
  .terms_a {
    text-decoration: none;
    color: #32549b;
  }
  
  .signUp {
      margin-top:20px;
      margin-bottom:5px;
    font-family: 'Open Sans',sans-serif;
    text-rendering:optimizelegibility;
    color:#333;
  }
  
  .signUpSub {
    font-size:16px;
    margin-bottom:20px;
    color:#333;
  }
  
  .signUpBtn {
      text-decoration:none;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    color:#fff;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    -webkit-border-radius: 5px;
    background: -webkit-linear-gradient(#67ae55, #578843);
    -webkit-box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
    margin-top: 10px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    cursor:pointer;
  }
  
  .signUpBtn:hover {
    background: -webkit-linear-gradient(#79bc64, #578843);
  }
  
  .signUpBtn:active {
    position: relative;
    top: 1px;
  }
  
  .formbox {
    display: inline-block;
    width:399px;
  }
  
  .create {
    border-top: 1px solid #a0a9c0;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 30px;
      margin-bottom:30px;
    padding-top: 15px;
  }
  
  .create a {
      text-decoration:none;
  }
  
  .male, .female {
    font-size:16px;
  }