body {
  background-image: url("31799.jpg");
  background-size: cover;
  font-family: 'Work Sans', sans-serif;
}

.loginBox{
  background-color: white;
  padding-top: 1%;
  margin-top: 8%;
  margin-left: 35%;
  margin-right: 37%;
  opacity: 1;
  padding-bottom: 1%;
}
.welcome{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding-bottom: 10%;
  padding-top: 10%;
}
.details{
  padding-left: 5%;
}
input[type=text], input[type=password] {
  width: 92%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.submit{
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 92%;
}
.check{
  padding-bottom: 7%;
}
.uname,.psw{
  font-size: 20px;
}
.logo{
  align-items: center;
  padding-left: 20%;
}
