  
   form{
   	border: 1px solid #420505;
   	width: 70%
   	background-color: #420505;
   }

   input[type="text"], input[type="password"]{
   	width:100%;
   	padding: 12px 20px;
   	margin: 8px 0;
   	display: inline-block;
   	border: 1px solid #ccc;
   	box-sizing: border-box; 
   }

   button{
   	background-color: #682b3d;
   	color: white;
   	padding: 14px 20px;
   	margin: 8px 0;
   	border: none;
   	cursor: pointer;
   	width: 100%;
   }

   button:hover{
   	opacity: 0.8;
   }

   .cancelbtn{
   	width: auto;
   	padding: 10px 18px;
   	background-color: #f44336;
   }

   .imgcontainer{
   	text-align: center;
   	margin: 24px 0 12px 0;
   }

   img-avatar{
   	width: 40%;
   	border-radius: 50%;
   }

   .container{
   	padding: 16px;
   	width: 90%;
   	margin: 2% 2% 2% 2%;
   	border: auto solid #888;

   }

   span.psw{
   	float: right;
   	padding-top: 16px;
   }