@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Raleway", sans-serif;
  background: url("bg.png") repeat 0 0;
}

.login {
  background-image: url("bg.png") !important;
}

a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

input {
  border: 1px solid #a4b0be;
  outline: none;
  border-radius: 29px;
  background: #f8f8f8;
}

input::placeholder {
  color: #636e72;
  padding-left: 10px;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

.txt1 {
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}

.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
}

.login100-form-title {
  padding-bottom: 16px;
}

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  margin-bottom: 37px;
}

.input100 {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 35px;
  padding: 0 5px;
}

.btn-show-pass {
  font-size: 15px;
  color: #999999;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}

.login__form-btn {
  background: #3742fa;
  border-radius: 29px;
  color: #fff;
  width: 65px;
  height: 28px;
}

.login-social {
  img {
    height: 25px;
    padding-right: 12px;
  }
  padding-top: 12px;
}

.login-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100px;
  }
}

.text-center {
  padding-top: 12px;
}
